################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FileManager/.vs/FileManager/FileContentIndex/5f100db2-235c-43eb-9a2d-ad2d75bcede9.vsidx
